*{
    margin: 0;
    padding: 0;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.3),#686868),url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 160px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.banner-text h1{
    font-size: 36px;
    position: absolute;
    top: 7%;
    left: 10%;
    font-family: 'Zen Dots', cursive;
    color: #e00b0b;
}

.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 400px;
}

.banner-text h2{
    font-size: 130px;
    font-family: 'Keania One', cursive; 
    
}

.banner-text p{
    font-size: 30px;
    font-family: 'Keania One', cursive;
    font-style: italic;
}

.banner-btn{
    margin: 40px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    font-family: 'Keania One', cursive; 
    
}

.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover {
    color: #000;
}

#sideNav{
    width: 250px;
    height: 100hv;
    position: fixed;
    right: -250px;
    top: 0;
    background: #949494;
    z-index: 2;
    transition: 0.5s;
    font-family: 'Keania One', cursive; 

}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #949494;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

/* Scroll */

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid #000;
    position: absolute;
    left: 49%;
    bottom: 2px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;

}

.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down
{
    0%
    {
        opacity: 0;
    }
    30%
    {
        opacity: 1;
    }
    60%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        top: 90%;
    }
}


/*Mobile Home */

@media screen and (max-width: 770px){
    .banner-text{
        padding-top: 300px; 
    }

    .banner-text h2{
        font-size: 44px;
    }

    .banner-text h1{
        font-size: 0px; 
    }

    .banner-text p{
        font-size: 18px;
    }

    .logo{
        width: 160px;
        top: 0%;
    }

    .banner-btn{
        margin: 40px auto 0;
    }

    .banner-btn a{
        display: block;
        margin: 20px auto;
    }

    .scroll-down{
        left: 46%;
        bottom: 2px;
    }

}

/* Recurso*/

#recurso{
    width: 100%;
    padding: 70px 0;
    background-color: #d8d8d8;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: #0050b9;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Keania One', cursive; 
}

.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#0050b9,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h3{
    font-size: 50px;
    font-family: 'Keania One', cursive;
}

.recurso-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.recursos{
    flex-basis: 50%;
}

.recursos-img{
    flex-basis: 50%;
    margin: auto;
}

.recursos-img img{
    width: 70%;
    border-radius: 10px;

}

.recursos h3{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #0050b9;
    font-family: 'Poppins', sans-serif;
}

.recurso-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.recurso-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #0050b9;
    border: 1px solid #0050b9;
}

.recurso-text p{
    padding: 0 20px;
    text-align: initial;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 770px){
    .title-text h3{
        font-size: 35px;
        font-family: 'Keania One', cursive;
    }

    .recursos{
        flex-basis: 100%;
    }

    .recursos-img{
        flex-basis: 100%;
    }
    .recursos-img img{
        width: 100%;
    }
}

/* Plataforma */

#plataforma{
    width: 100%;
    padding: 70px 0;
    background: #d8d8d8;
}

.plataforma-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-plataforma{
    flex-basis: 45%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;

    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(235deg,#002657,#002657,#002657);
    z-index: 1;
    
}

.single-plataforma img{
    width: 99%;
    height: 99%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.2),#000000);
    opacity: 0;
    transition: 1s;
}

.single-plataforma:hover .overlay{
    opacity: 0.8;
}

.plataforma-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.plataforma-desc hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.plataforma-desc h3{
    font-family: 'Poppins', sans-serif;
}

.plataforma-desc p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.single-plataforma:hover .plataforma-desc{
    bottom: 40%;
    opacity: 0.8;
}


@media screen and (max-width: 770px){
    .single-plataforma{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .plataforma-desc p{
        font-size: 12px;
    }

    hr{
        margin: 5px auto;
    }

    .single-plataforma:hover .plataforma-desc{
        bottom: 25%;
    }
}

/* Conteudo */

#conteudo{
    width: 100%;
    padding: 70px 0;
    background: #d8d8d8;
}

.conteudo-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.conteudo-col{
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #000000;
    cursor: pointer;
    transition: transform .5s;
}

.conteudo-col h4{
    font-family: 'Poppins', sans-serif;
}

.conteudo-col p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.user{
    display: flex;
    align-items: center;
    margin: 10px 3px;
}

.user img{
    width: 100%;
    height: 300px;
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
}

hr{
    height: 1px;
    border: 0;
    margin: 15px auto;
    width: 100%;
    background: #000;
}

.conteudo-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width: 770px){
    .conteudo-col{
        flex-basis: 100%;
    }
}

/*Footer */

#footer{
    padding: 100px 0 20px;
     background: #d8d8d8;
     position: relative;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h3{
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-row p{
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}

.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #0050b9;
    margin: 10px;
}

.footer-img{
    max-width: 370px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.social-links{
    text-align: center;
}

.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #0050b9;
    margin: 40px 5px 0;
    color: #0050b9;
    cursor: pointer;
    transition: .5s;
}

.social-links .fa:hover{
    background: #0050b9;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }

    .footer-img{
        top: 20%;
    }
}